Notebook to generate combination of array to run analysis on.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import combinations

In [8]:
SASST = pd.read_csv('sardine_anchovy_sst.csv')

In [9]:
SASST

    year   anchovy   sardine   sio_sst    np_sst
0   1929 -0.007599  1.770090 -0.352393 -0.347846
1   1930 -0.009602 -1.151520  0.001149  0.328734
2   1931 -0.008444 -1.420680  1.068220  1.610270
3   1932 -0.008354  0.112222  0.531857  1.265340
4   1933 -0.007750  1.515550 -0.552058  0.040046
..   ...       ...       ...       ...       ...
73  2002 -0.741992  0.138018  0.658063 -1.186420
74  2003 -0.157825 -0.360649  0.634573 -1.342620
75  2004  0.249897  0.189861  1.219800 -0.530206
76  2005  0.213121 -0.130771  1.749450 -0.757965
77  2006  0.073090  0.229798  2.028610 -0.583363

[78 rows x 5 columns]

In [10]:
SASST = SASST.drop(labels = ['year'], axis = 1)
SASST

     anchovy   sardine   sio_sst    np_sst
0  -0.007599  1.770090 -0.352393 -0.347846
1  -0.009602 -1.151520  0.001149  0.328734
2  -0.008444 -1.420680  1.068220  1.610270
3  -0.008354  0.112222  0.531857  1.265340
4  -0.007750  1.515550 -0.552058  0.040046
..       ...       ...       ...       ...
73 -0.741992  0.138018  0.658063 -1.186420
74 -0.157825 -0.360649  0.634573 -1.342620
75  0.249897  0.189861  1.219800 -0.530206
76  0.213121 -0.130771  1.749450 -0.757965
77  0.073090  0.229798  2.028610 -0.583363

[78 rows x 4 columns]

In [11]:
names = SASST.columns.values.tolist()
names

['anchovy', 'sardine', 'sio_sst', 'np_sst']

In [13]:
combs = list(combinations(names,2))
combs

[('anchovy', 'sardine'),
 ('anchovy', 'sio_sst'),
 ('anchovy', 'np_sst'),
 ('sardine', 'sio_sst'),
 ('sardine', 'np_sst'),
 ('sio_sst', 'np_sst')]

In [18]:
np.savetxt('combs_sardineanchovy.csv', combs, delimiter = ',', fmt ='% s')