Notebook to generate combination of array to run analysis on.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import combinations

In [2]:
maizuru = pd.read_csv('Maizuru_dominant_sp.csv')
maizuru

,date_tag,surf.t,bot.t,Aurelia.sp,Engraulis.japonicus,Plotosus.lineatus,Sebastes.inermis,Trachurus.japonicus,Girella.punctata,Pseudolabrus.sieboldi,...,Halichoeres.tenuispinnis,Chaenogobius.gulosus,Pterogobius.zonoleucus,Tridentiger.trigonocephalus,Siganus.fuscescens,Sphyraena.pinguis,Rudarius.ercodes,Y,M,D
0,2002-6-early,22.0,19.0,79.200000,0,1,463,0,60,18,...,23,470.0,0.0,7.0,0,0,7.0,2002,6,6
1,2002-6-late,21.0,21.0,157.200000,0,0,19,650,42,22,...,23,0.0,0.0,0.0,0,0,7.0,2002,6,26
2,2002-7-early,25.0,22.0,21.333333,0,300,47,1150,8,7,...,32,0.0,50.0,2.0,0,0,1.0,2002,7,12
3,2002-7-late,30.0,24.0,0.937500,0,302,46,958,34,19,...,22,80.0,6.0,38.0,0,0,1.0,2002,7,29
4,2002-8-early,28.0,25.0,19.333333,0,540,43,308,15,14,...,16,0.0,50.0,43.0,0,70,7.0,2002,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2014-2-early,5.4,8.5,0.000000,150,0,1,0,0,0,...,0,0.0,0.0,1.0,0,0,1.0,2014,2,12
281,2014-2-late,5.5,10.4,0.000000,1,0,0,0,0,0,...,0,0.0,0.0,2.0,0,0,0.0,2014,2,23
282,2014-3-early,8.4,10.5,0.000000,0,0,0,0,0,0,...,0,0.0,0.0,6.0,0,0,0.0,2014,3,3
283,2014-3-late,11.5,10.4,0.250000,0,0,0,0,0,0,...,0,0.0,0.0,11.0,0,0,0.0,2014,3,23
284,2014-4-early,15.4,10.5,0.666667,0,0,0,0,0,1,...,0,0.0,0.0,9.0,0,0,1.0,2014,4,1

In [3]:
maizuru.drop(['date_tag', 'surf.t', 'bot.t', 'Y', 'M', 'D'], inplace = True, axis = 1)
maizuru

,Aurelia.sp,Engraulis.japonicus,Plotosus.lineatus,Sebastes.inermis,Trachurus.japonicus,Girella.punctata,Pseudolabrus.sieboldi,Halichoeres.poecilopterus,Halichoeres.tenuispinnis,Chaenogobius.gulosus,Pterogobius.zonoleucus,Tridentiger.trigonocephalus,Siganus.fuscescens,Sphyraena.pinguis,Rudarius.ercodes
0,79.200000,0,1,463,0,60,18,31,23,470.0,0.0,7.0,0,0,7.0
1,157.200000,0,0,19,650,42,22,10,23,0.0,0.0,0.0,0,0,7.0
2,21.333333,0,300,47,1150,8,7,7,32,0.0,50.0,2.0,0,0,1.0
3,0.937500,0,302,46,958,34,19,30,22,80.0,6.0,38.0,0,0,1.0
4,19.333333,0,540,43,308,15,14,10,16,0.0,50.0,43.0,0,70,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0.000000,150,0,1,0,0,0,0,0,0.0,0.0,1.0,0,0,1.0
281,0.000000,1,0,0,0,0,0,0,0,0.0,0.0,2.0,0,0,0.0
282,0.000000,0,0,0,0,0,0,0,0,0.0,0.0,6.0,0,0,0.0
283,0.250000,0,0,0,0,0,0,0,0,0.0,0.0,11.0,0,0,0.0
284,0.666667,0,0,0,0,0,1,0,0,0.0,0.0,9.0,0,0,1.0

In [4]:
names = maizuru.columns.values.tolist()
names

['Aurelia.sp',
 'Engraulis.japonicus',
 'Plotosus.lineatus',
 'Sebastes.inermis',
 'Trachurus.japonicus',
 'Girella.punctata',
 'Pseudolabrus.sieboldi',
 'Halichoeres.poecilopterus',
 'Halichoeres.tenuispinnis',
 'Chaenogobius.gulosus',
 'Pterogobius.zonoleucus',
 'Tridentiger.trigonocephalus',
 'Siganus.fuscescens',
 'Sphyraena.pinguis',
 'Rudarius.ercodes']

In [5]:
combs = list(combinations(names,2))
combs

[('Aurelia.sp', 'Engraulis.japonicus'),
 ('Aurelia.sp', 'Plotosus.lineatus'),
 ('Aurelia.sp', 'Sebastes.inermis'),
 ('Aurelia.sp', 'Trachurus.japonicus'),
 ('Aurelia.sp', 'Girella.punctata'),
 ('Aurelia.sp', 'Pseudolabrus.sieboldi'),
 ('Aurelia.sp', 'Halichoeres.poecilopterus'),
 ('Aurelia.sp', 'Halichoeres.tenuispinnis'),
 ('Aurelia.sp', 'Chaenogobius.gulosus'),
 ('Aurelia.sp', 'Pterogobius.zonoleucus'),
 ('Aurelia.sp', 'Tridentiger.trigonocephalus'),
 ('Aurelia.sp', 'Siganus.fuscescens'),
 ('Aurelia.sp', 'Sphyraena.pinguis'),
 ('Aurelia.sp', 'Rudarius.ercodes'),
 ('Engraulis.japonicus', 'Plotosus.lineatus'),
 ('Engraulis.japonicus', 'Sebastes.inermis'),
 ('Engraulis.japonicus', 'Trachurus.japonicus'),
 ('Engraulis.japonicus', 'Girella.punctata'),
 ('Engraulis.japonicus', 'Pseudolabrus.sieboldi'),
 ('Engraulis.japonicus', 'Halichoeres.poecilopterus'),
 ('Engraulis.japonicus', 'Halichoeres.tenuispinnis'),
 ('Engraulis.japonicus', 'Chaenogobius.gulosus'),
 ('Engraulis.japonicus', 'Pterogobius.zonoleucus'),
 ('Engraulis.japonicus', 'Tridentiger.trigonocephalus'),
 ('Engraulis.japonicus', 'Siganus.fuscescens'),
 ('Engraulis.japonicus', 'Sphyraena.pinguis'),
 ('Engraulis.japonicus', 'Rudarius.ercodes'),
 ('Plotosus.lineatus', 'Sebastes.inermis'),
 ('Plotosus.lineatus', 'Trachurus.japonicus'),
 ('Plotosus.lineatus', 'Girella.punctata'),
 ('Plotosus.lineatus', 'Pseudolabrus.sieboldi'),
 ('Plotosus.lineatus', 'Halichoeres.poecilopterus'),
 ('Plotosus.lineatus', 'Halichoeres.tenuispinnis'),
 ('Plotosus.lineatus', 'Chaenogobius.gulosus'),
 ('Plotosus.lineatus', 'Pterogobius.zonoleucus'),
 ('Plotosus.lineatus', 'Tridentiger.trigonocephalus'),
 ('Plotosus.lineatus', 'Siganus.fuscescens'),
 ('Plotosus.lineatus', 'Sphyraena.pinguis'),
 ('Plotosus.lineatus', 'Rudarius.ercodes'),
 ('Sebastes.inermis', 'Trachurus.japonicus'),
 ('Sebastes.inermis', 'Girella.punctata'),
 ('Sebastes.inermis', 'Pseudolabrus.sieboldi'),
 ('Sebastes.inermis', 'Halichoeres.poecilopterus'),
 ('Sebastes.inermis', 'Halichoeres.tenuispinnis'),
 ('Sebastes.inermis', 'Chaenogobius.gulosus'),
 ('Sebastes.inermis', 'Pterogobius.zonoleucus'),
 ('Sebastes.inermis', 'Tridentiger.trigonocephalus'),
 ('Sebastes.inermis', 'Siganus.fuscescens'),
 ('Sebastes.inermis', 'Sphyraena.pinguis'),
 ('Sebastes.inermis', 'Rudarius.ercodes'),
 ('Trachurus.japonicus', 'Girella.punctata'),
 ('Trachurus.japonicus', 'Pseudolabrus.sieboldi'),
 ('Trachurus.japonicus', 'Halichoeres.poecilopterus'),
 ('Trachurus.japonicus', 'Halichoeres.tenuispinnis'),
 ('Trachurus.japonicus', 'Chaenogobius.gulosus'),
 ('Trachurus.japonicus', 'Pterogobius.zonoleucus'),
 ('Trachurus.japonicus', 'Tridentiger.trigonocephalus'),
 ('Trachurus.japonicus', 'Siganus.fuscescens'),
 ('Trachurus.japonicus', 'Sphyraena.pinguis'),
 ('Trachurus.japonicus', 'Rudarius.ercodes'),
 ('Girella.punctata', 'Pseudolabrus.sieboldi'),
 ('Girella.punctata', 'Halichoeres.poecilopterus'),
 ('Girella.punctata', 'Halichoeres.tenuispinnis'),
 ('Girella.punctata', 'Chaenogobius.gulosus'),
 ('Girella.punctata', 'Pterogobius.zonoleucus'),
 ('Girella.punctata', 'Tridentiger.trigonocephalus'),
 ('Girella.punctata', 'Siganus.fuscescens'),
 ('Girella.punctata', 'Sphyraena.pinguis'),
 ('Girella.punctata', 'Rudarius.ercodes'),
 ('Pseudolabrus.sieboldi', 'Halichoeres.poecilopterus'),
 ('Pseudolabrus.sieboldi', 'Halichoeres.tenuispinnis'),
 ('Pseudolabrus.sieboldi', 'Chaenogobius.gulosus'),
 ('Pseudolabrus.sieboldi', 'Pterogobius.zonoleucus'),
 ('Pseudolabrus.sieboldi', 'Tridentiger.trigonocephalus'),
 ('Pseudolabrus.sieboldi', 'Siganus.fuscescens'),
 ('Pseudolabrus.sieboldi', 'Sphyraena.pinguis'),
 ('Pseudolabrus.sieboldi', 'Rudarius.ercodes'),
 ('Halichoeres.poecilopterus', 'Halichoeres.tenuispinnis'),
 ('Halichoeres.poecilopterus', 'Chaenogobius.gulosus'),
 ('Halichoeres.poecilopterus', 'Pterogobius.zonoleucus'),
 ('Halichoeres.poecilopterus', 'Tridentiger.trigonocephalus'),
 ('Halichoeres.poecilopterus', 'Siganus.fuscescens'),
 ('Halichoeres.poecilopterus', 'Sphyraena.pinguis'),
 ('Halichoeres.poecilopterus', 'Rudarius.ercodes'),
 ('Halichoeres.tenuispinnis', 'Chaenogobius.gulosus'),
 ('Halichoeres.tenuispinnis', 'Pterogobius.zonoleucus'),
 ('Halichoeres.tenuispinnis', 'Tridentiger.trigonocephalus'),
 ('Halichoeres.tenuispinnis', 'Siganus.fuscescens'),
 ('Halichoeres.tenuispinnis', 'Sphyraena.pinguis'),
 ('Halichoeres.tenuispinnis', 'Rudarius.ercodes'),
 ('Chaenogobius.gulosus', 'Pterogobius.zonoleucus'),
 ('Chaenogobius.gulosus', 'Tridentiger.trigonocephalus'),
 ('Chaenogobius.gulosus', 'Siganus.fuscescens'),
 ('Chaenogobius.gulosus', 'Sphyraena.pinguis'),
 ('Chaenogobius.gulosus', 'Rudarius.ercodes'),
 ('Pterogobius.zonoleucus', 'Tridentiger.trigonocephalus'),
 ('Pterogobius.zonoleucus', 'Siganus.fuscescens'),
 ('Pterogobius.zonoleucus', 'Sphyraena.pinguis'),
 ('Pterogobius.zonoleucus', 'Rudarius.ercodes'),
 ('Tridentiger.trigonocephalus', 'Siganus.fuscescens'),
 ('Tridentiger.trigonocephalus', 'Sphyraena.pinguis'),
 ('Tridentiger.trigonocephalus', 'Rudarius.ercodes'),
 ('Siganus.fuscescens', 'Sphyraena.pinguis'),
 ('Siganus.fuscescens', 'Rudarius.ercodes'),
 ('Sphyraena.pinguis', 'Rudarius.ercodes')]

In [6]:
np.savetxt('combs_maizuru.csv', combs, delimiter = ',', fmt ='% s')